.nav {
  &_wrapper {
    align-items: center;
    ul {
      margin-right: 15px;
      li {
        a {
          font-size: 14px;
          color: #fff;
          text-decoration: none;
          transition: 0.3s;
          &:hover {
            color: $brandColor;
          }
        }
        margin: 0 15px;
      }
    }
  }
}

header {
  padding: 20px 0;
  .logo {
    transform: translateY(4px);
  }
}
.headerWrapper {
  background: $brandColorDark;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 3;
  .btn {
    &_profile {
      color: #fff !important;
      height: 34px;
      svg {
        margin-right: 10px;
        path {
          fill: $brandColor !important ;
        }
      }
    }
  }
  &.profile {
    position: inherit;
    background-color: #fff;
    * {
      color: $brandTextColor;
    }
    .btn {
      color: $brandColor !important;
      border-color: $brandColor !important;
      &_profile {
        color: #fff !important;
        height: 34px;
        &:hover {
          color: #fff !important;
        }
        svg {
          margin-right: 10px;
        }
      }
    }
    svg {
      path {
        fill: $brandTextColor;
      }
    }
  }
}

.burgerMenu {
  &_icon {
    margin-left: 15px;
    display: inline-block;
  }
}

@media only screen and (max-width: 768px) {
  header {
    .btn {
      font-size: 12px;
      height: 28px;
      border-radius: 7px;
      position: relative;
    }
    .navList {
      position: absolute;
      z-index: 3;
      flex-direction: column;
      background: $brandColorDark;
      width: 100%;
      left: 0;
      top: 68px;
      justify-content: center;
      align-items: center;
      padding-top: 0px;
      padding-bottom: 0px;
      max-height: 0;
      overflow: hidden;
      transition: 0.3s;
      li {
        width: 200px;
        margin-bottom: 15px;
      }
      &.open {
        max-height: 400px;
        padding-top: 20px;
        padding-bottom: 30px;
        border-top: 1px solid #fff;
      }
    }
  }
  .headerWrapper.profile {
    .navList {
      background-color: #fff;
      a {
        color: $brandColor;
      }
    }
  }
}
